body {
  font-size: 14px;
  background-color:	#ADD8E6;
}


header {
  background-image: url("rio.jpg");
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

#logo {
  text-align: center;
}

#logo img {
  width:200px;
  padding-top: 20px;
  border-radius: 100%;
}

#logo h1 {
  letter-spacing: 0.35em;
  color: #fff;
  text-shadow: 2px 2px 0px #000;
}

.container {
  max-width: 800px;
  margin: 40px auto 0;
  background-color: #fff;
  text-align: center;
}

